/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --header-color: #db00ff; /*FFC2E6*/
  --main-text-color: #f1b2ce; /*353430*/
  --accent-text-color: #000028; /*353430*/
  --accent-color-v2: #ff0070; /*353430*/
  --accent-color: #ff0070; /*FF0070*/
  --background-color: #ff0070; /*FF8DCB*/
  --background-image: url(../images/cover-image-dark.png);
  --font-family: IBM Plex Mono;
  --font-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --wrapper-padding: 10px;
}

@media (min-width: 768px) {
  :root {
    --wrapper-padding: 20px;
  }
}
